.idea
.gradle
build/

Connector/
FederatedCatalog/
GradlePlugins/
IdentityHub/
RegistrationService/
Technology-Azure/
Technology-Aws/
Technology-Gcp/
Runtime-Metamodel/

gradle.properties
settings.gradle.kts
